.logo {
    border-radius: 25%;
}

.navbar {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    height: 85px;
}

.navbar-brand {
    margin-right: 200px;
    font-size: 25px;
}

.students {
    width: 900px;
}

#heading {
    letter-spacing: 0.3ch;
}

#elevator {
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
}

.rect {
    border: 3px solid black;
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
}